<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">
            <span id="modalCaption" class="form-span">Form Alan Ekle/Güncelle</span>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Kapat">
            <span aria-hidden="true">
                <i class="fal fa-times"></i>
            </span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <form name="FormGoruntulemeForm" autocomplete="off">

                <div class="panel-content" id="formReplacer">
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <input type="hidden" id="hdnDataId" name="hdnDataId"  value="0" data-id-type="number" />
        <input type="hidden" id="hdnDataFormTanimId" name="hdnDataFormTanimId"  value="0" data-id-type="number" />
        <button class="btn btn-primary" id="addRowBtn" type="button" data-role="save">
            Kaydet
        </button>
    </div>
</div>