[*.cs]

# CS0168: Variable is declared but never used
dotnet_diagnostic.CS0168.severity = none

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = none

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = none

# CA2200: Rethrow to preserve stack details
dotnet_diagnostic.CA2200.severity = none

# CS1998: Async method lacks 'await' operators and will run synchronously
dotnet_diagnostic.CS1998.severity = none
