<script src="~/lib/jquery-3-7-0.js"></script>
<script src="~/app/pagescripts/shared/_announce.js"></script>

<style>
    .zoom {
        transition: transform 0.7s ease;
    }

        .zoom:hover {
            transform: scale(1.01);
            box-shadow: rgba(0, 0, 0, 0.7) 0px 8px 20px;
        }
</style>

<div class="accordion accordion-hover accordion-outline p-2" id="AnnounceAccordion">
    @* içerik js tarafında *@
</div>