<div class="panel-container show">
    <div class="panel-content p-0">
        <div class="d-flex flex-column">
            <div class="bg-subtlelight-fade custom-scroll" style="height: 346px">
                <div class="h-100" id="divMessages">
                    <!-- message -->
                    <div class="d-flex flex-row px-3 pt-3 pb-2">
                        <div class="ml-3">
                            <a href="javascript:void(0);" title="Lisa Hatchensen" class="d-block fw-700 text-dark">Test Danışan (Danışan) 12:10</a>
                            İçerik Yüklenemedi ! 
                        </div>
                    </div>
                    <!-- message end -->
                    <!-- message reply -->
                    @* <div class="d-flex flex-row px-3 pt-3 pb-2" style="justify-content:flex-end">
                        <div class="ml-3">
                            <a href="javascript:void(0);" title="Lisa Hatchensen" class="d-block fw-700 text-dark">Acun Ilıcalı (Danışman) 12:15</a>
                            Hayat her şeye rağmen güzel.
                        </div>
                    </div> *@
                    <!-- message reply end -->
                </div>
            </div>
        </div>
    </div>
    <div class="panel-content">

        @* <textarea id="txtSendMessage" rows="3" class="form-control rounded-top border-bottom-left-radius-0 border-bottom-right-radius-0 border" placeholder="Mesajınızı yazınız..."></textarea>
        <div class="d-flex align-items-right py-2 px-2 bg-white border border-top-0 rounded-bottom">
            <div class="col-sm-10"></div>
            <div class="col-sm-2">
                <button class="btn btn-danger btn-sm ml-auto ml-sm-0 col" onclick="ChatPanelPartialPage.Methods.SendMessage();"> Mesajını Gönder </button>
            </div>
        </div> *@

        <div class="input-group mb-2" hidden id="divAddChatNote">
            <textarea id="txtSendMessage" class="form-control rounded-top border-bottom-left-radius-0 border-bottom-right-radius-0 border" style="resize: none;" rows="3" placeholder="Mesajınızı yazınız..."></textarea>
            <button class="btn btn-danger m-1 text-light" type="button" onclick="ChatPanelPartialPage.Methods.SendMessage();">Gönder</button> 
        </div>

    </div>
</div>

<script src="~/app/pagescripts/shared/_chatpanel.js"></script>