<div class="modal fade" data-keyboard="false" data-backdrop="static" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span id="modalCaption" class="form-span" data-translate="common.DeleteData" ></span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Kapat">
                    <span aria-hidden="true">
                        <i class="fal fa-times"></i>
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign" data-translate="common.DeleteDataAsk" > </span></div>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-primary" onclick="Delete()"><span class="glyphicon glyphicon-ok-sign" data-translate="common.Yes"></span></button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" data-translate="common.No"></span></button>
            </div>
        </div>
    </div>
</div>