<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr color-warning-800">
                <h2>
                    <i class="far fa-file-alt mr-1"></i>
                    Dökümanlar
                </h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row d-flex justify-content-center align-item-center p-2 materialRow" style="height: 57vh;overflow:auto">
                        <div class="col-9">
                            <div class="frame-wrap w-100">
                                <div class="list-group materialDownloadList">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
