@{
    ViewData["Title"] = "Login";
    Layout = "Shared/_AccountLayout.cshtml";
}

<div class="row cs d-none text-white" >
    <div>
        <h1 data-translate="login.ConfirmEmail"></h1>
        <p data-translate="login.ConfirmThanks">
        </p>
    </div>
</div>
