<!--@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Account/Shared/_AccountLayout.cshtml";
}

<div class="page-wrapper auth">
    <div class="page-inner">
        <div class="page-content-wrapper bg-transparent m-0">
            <div class="height-10 w-100 shadow-lg px-4">
                <div class="d-flex align-items-center container p-0">
                    <div class="page-logo width-mobile-auto m-0 align-items-center justify-content-center p-0 bg-transparent bg-img-none shadow-0 height-9 border-0">
                        <a href="javascript:void(0)" class="page-logo-link press-scale-down d-flex align-items-center">-->
                            @*<img src="img/logo.png" alt="SmartAdmin WebApp" aria-roledescription="logo">*@
                            <!--<span class="page-logo-text mr-1" data-translate="common.AppName"></span>
                        </a>
                    </div>
                    <a href="~/" class="btn-link text-white ml-auto">
                       
                    </a>
                </div>
            </div>
            <div class="flex-1" no-repeat center bottom fixed; background-size: cover;">
                <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
                    <div class="row align">
                        <div class="ml-auto mr-auto">
                            <div class="card p-4 rounded-plus bg-faded">
                             
                                <form name="RegisterForm">

                                    <div class="form-group ">
											<label class="col-xl-12 form-label" for="name">Ad</label>
                                            <input type="text" id="name" name="name" class="form-control"  autocomplete="off" required>
                                    </div>
									<div class="form-group">
										<label class="col-xl-12 form-label" for="surname">Soyad</label>
										<input type="text" id="surname" name="surname" class="form-control"  autocomplete="off" required>-->
										@*<div class="invalid-feedback">No, you missed this one.</div>*@

									<!--</div>
                                    <div class="form-group">
										<label class="col-xl-12 form-label" for="email">EPosta Adresi</label>
										<input type="email" id="email" name="email" class="form-control"  autocomplete="off" required>-->
                                        @*<div class="invalid-feedback">No, you missed this one.</div>
                                    <div class="help-block">Your email will also be your username</div>*@
                                    <!--</div>
                                    <div class="form-group">

                                        <label class="col-xl-12 form-label" for="password">Şifre</label>
                                        <input type="password" id="password" name="password" class="form-control" autocomplete="off">
                                        <div class="invalid-feedback">Sorry, you missed this one.</div>-->
                                        @*<div class="help-block">Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.</div>*@
                                    <!--</div>
									<div class="form-group">
										
										<label class="col-xl-12 form-label" for="password">Şifre Onayı</label>
										<input type="password" id="confirmPassword" name="confirmPassword" class="form-control" autocomplete="off">
										<div class="invalid-feedback">Sorry, you missed this one.</div>-->
										@*<div class="help-block">Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.</div>*@
									<!--</div>
                                    <div class="row no-gutters">
                                        <div class="mr-auto ml-auto">
                                            <button id="btnRegister" type="button" class="btn btn-block btn-danger btn-lg mt-3" ></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @await Html.PartialAsync("~/Views/Account/Shared/_AccountFooter.cshtml")
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $("#btnRegister").click();
    });
</script>-->