@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

@media print {
    .card-body {
        font-size: small;
    }

    .container {
        max-width: 900px;
    }

    body {
        margin: 5rem !important;
    }


    .print-button {
        display: none;
    }
}
body {
    margin: 20px !important;
    color: #484b51;
    height: auto;
}
.print-button {
    position: fixed !important;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}
