@{
var parents = new Dictionary<string, Dictionary<string, string>>
{
    {
        "MainPage", new Dictionary<string, string> {{"jsonKey", "Anasayfa"}}
    },
    {
        "HasSub", new Dictionary<string, string> {{"jsonKey", "Yetkilendirme" } }
    },
    {
        "ActivePage", new Dictionary<string, string> {{"jsonKey", "Yetki Atama" } }
    }
};
}
<main id="js-page-content" role="main" class="page-content">
    <div class="row">
        @await Html.PartialAsync("_Breadcrumb", parents)
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-container show">
                    <div class="panel-content">
                        <div class="row">
                            <div class="col">
                                <div class="table-responsive h-scrollbar-primary">
                                    <table id="ClaimTypeTable" data-topButtons="add" class="table table-bordered table-hover table-striped w-100 nowrap display compact" data-responsive="false">
                                        <thead>
                                            <tr role="row">
												<th col-data='Name'>Yetki Adı</th>
												<th col-data='Description'>Açıklaması</th>    
                                    			<th col-role='action' action-list='edit,delete'>İşlemler</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="page-content-overlay" data-action="toggle" data-class="mobile-nav-on"></div>

<div id="ClaimTypeModal" aria-hidden="true" aria-labelledby="modalCaption" class="modal fade" data-backdrop="static" data-keyboard="true" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span id="modalCaption" class="form-span">Yetki Ekle/Güncelle</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Kapat">
                    <span aria-hidden="true">
                        <i class="fal fa-times"></i>
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <form name="ClaimTypeForm">
                    <input id="hdnDataId" name="Id" type="hidden" value="" data-id-type="number" />
                    <div class="row">
                        <div class="col">
                            <label for="Name" class="form-label">Name</label>
                            <input type="text" id="Name" name="Name" class="form-control form-control-xs" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="Description" class="form-label">Description</label>
                            <input type="text" id="Description" name="Description" class="form-control form-control-xs" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-content="remove" data-dismiss="modal" type="button">
                    İptal
                </button>
                <button class="btn btn-primary" data-role="save" type="button">
                    Kaydet
                </button>
            </div>
        </div>
    </div>
</div>
