@{
    var parents = new Dictionary<string, Dictionary<string, string>>
{
        {
            "MainPage", new Dictionary<string, string> {{"jsonKey", "Anasayfa"}}
        },
        {
            "HasSub", new Dictionary<string, string> {{"jsonKey", "Yönetim" }}
        },
        {
            "ActivePage", new Dictionary<string, string> {{"jsonKey", "Log Takip" }}
        }
    };
}
<style type="text/css">
    [name='RequestLogForm'] label {
        text-decoration: underline;
        margin-top: 1rem;
    }
</style>
<main id="js-page-content" role="main" class="page-content">
    <div class="row">
        @await Html.PartialAsync("_Breadcrumb", parents)
    </div>
    <div class="row justify-content-center">
        <div class="col-5">
            <div class="panel panel-locked" data-panel-zero='true'>
                <div class="panel-hdr bg-primary-200 text-white">
                    <h2>
                        Log Takip
                    </h2>
                    <div class="panel-toolbar mr-2">
                        <button class="btn btn-panel-collapse no-shadow" data-action="panel-collapse">
                            <i class="fa fa-window-minimize text-white"></i>
                        </button>
                        <button class="btn btn-panel-collapse  no-shadow" data-action="panel-fullscreen">
                            <i class="fa fa-arrows text-white"></i>
                        </button>
                    </div>
                </div>
                <form name="LogSorgulamaForm" autocomplete="off">
                    <div class="panel-container collapse show">
                        <div class="panel-content">
                            <div class="row align-items-center">
                                <div class="col col-4 p-1">
                                    <label for="CreatedAt" class="form-label">İşlem Tarihi</label>
                                </div>
                                <div class="col col-4 p-1">

                                    <input type="date" id="CreatedAt1" name="CreatedAt" data-basTar class="form-control form-control-xs flatpickr" />
                                </div>
                                <div class="col col-4 p-1">

                                    <input type="date" id="CreatedAt2" name="CreatedAt" data-bitTar class="form-control form-control-xs flatpickr" />
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col col-4 p-1">
                                    <label for="Islem" class="form-label">İşlem Tipi</label>
                                </div>
                                <div class="col col-8 p-1">
                                    <select id="Islem" name="Islem" class="form-control form-control-xs" source="Log/GetAll/Request" opt-initialText opt-sel2="true" data-type="static" data-text="value" data-value="key" data-searchType="string">
                                    </select>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col col-4 p-1">
                                    <label for="RemoteIp" class="form-label">İp Adresi</label>
                                </div>
                                <div class="col col-8 p-1">
                                    <input type="text" id="RemoteIp" name="RemoteIp" class="form-control form-control-xs" />
                                </div>
                            </div>

                            <div class="row align-items-center">
                                <div class="col col-4 p-1">
                                    <label for="" class="form-label">Log Tipi</label>
                                </div>
                                <div class="col col-8 p-1">
                                    <select id="RequestLogTypeCode" name="RequestLogTypeCode" class="form-control form-control-xs" data-type="static" source="Forms/GetEnumList/RequestLogTypeCode" opt-initialText data-text="ad" data-value="deger">
                                    </select>
                                </div>
                            </div>

                            <div class="row align-items-center">
                                <div class="col col-4 p-1">
                                    <label for="UserId" class="form-label d-flex">İşlemi Yapan</label>
                                </div>
                                <div class="col col-8 p-1">
                                    <select id="UserId" name="UserId" data-firstEmpty="true" class="form-control form-control-xs" data-type="static" source="Identity/GetAll/User" opt-initialText opt-sel2="true" data-text="fullname" data-value="id" data-searchType="string-esit">
                                    </select>
                                </div>
                            </div>

                            <div class="row align-items-center">
                                <div class="col p-1 d-flex justify-content-center">
                                    <button id="btnSearch" type="button" class="btn bg-success-400 btn-pills text-white">
                                        <i class="fa fa-search px-2" aria-hidden="true"></i>
                                        Sorgula
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-container show">
                    <div class="panel-content">
                        <div class="table-responsive h-scrollbar-primary">
                            <table id="RequestLogTable" data-topButtons="xls.pdf" class="table table-bordered table-hover table-striped w-100 nowrap display compact" data-responsive="false">
                                <thead>
                                    <tr>
                                        <th col-data="UserIdAdSoyad">Kullanıcı Ad/Soyad</th>
                                        <th col-data="RemoteIp">Remote Ip</th>
                                        <th col-data="Fonksiyon">Fonksiyon</th>
                                        <th col-data="CreatedAt" col-type="date">Oluşturulma Tarihi</th>
                                        <th col-data="FieldName">Alan Adı</th>
                                        <th col-data="Islem">İşlem</th>
                                        <th col-data="LogTypeAd">Log Tipi</th>
                                        <th col-data="IsSystem" col-type="bool">Sistem Mi?</th>
                                        <th col-role="action" action-list="detail" data-export>İşlemler</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="page-content-overlay" data-action="toggle" data-class="mobile-nav-on"></div>

<div id="RequestLogModal" aria-hidden="true" aria-labelledby="modalCaption" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span id="modalCaption" class="form-span">Log Detayları</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Kapat">
                    <span aria-hidden="true">
                        <i class="fal fa-times"></i>
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <form name="RequestLogForm" autocomplete="off">
                    <div class="row form-group">
                        <div class="col">
                            <label for="Url" class="form-label">Url</label>
                            <br /><span id="Url" name="Url"></span>
                        </div>
                    </div> 
                    <div class="row form-group">
                        <div class="col col-4">
                            <label for="UserIdAdSoyad" class="form-label">Kullanıcı Adı</label>
                            <br /><span id="UserIdAdSoyad" name="UserIdAdSoyad"></span>
                        </div>
                        <div class="col col-4">
                            <label for="FieldName" class="form-label">Alan Adı</label>
                            <br /><span id="FieldName" name="FieldName"></span>
                        </div>
                        <div class="col col-4">
                            <label for="RemoteIp" class="form-label">Remote Ip</label>
                            <br /><span id="RemoteIp" name="RemoteIp"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-4">
                            <label for="Islem" class="form-label">İşlem</label>
                            <br /><span id="Islem" name="Islem"></span>
                        </div>
                        <div class="col col-4">
                            <label for="Fonksiyon" class="form-label">Fonksiyon</label>
                            <br /><span id="Fonksiyon" name="Fonksiyon"></span>
                        </div>
                        <div class="col col-4">
                            <label for="HataKod" class="form-label">Hata Kodu</label>
                            <br /><span id="HataKod" name="HataKod"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-4">
                            <label for="CreatedAt" class="form-label">Oluşturulma Tarihi</label>
                            <br /><span id="CreatedAt"></span>
                        </div>
                        <div class="col col-4">
                            <label for="IsSystem" class="form-label">Sistem Mi ?</label>
                            <br /><span id="IsSystem"></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-content="remove" data-dismiss="modal" type="button">Vazgeç</button>
            </div>
        </div>
    </div>
</div>