<title>
    Psikososyal Destek Platformu
</title>
<meta name="description" content="Login">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
<!-- Call App Mode on ios devices -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<!-- Remove Tap Highlight on Windows Phone IE -->
<meta name="msapplication-tap-highlight" content="no">
<!-- base css -->
<link id="vendorsbundle" rel="stylesheet" media="screen, print" href="~/SmartAdmin/dist/css/vendors.bundle.css">
<link id="appbundle" rel="stylesheet" media="screen, print" href="~/SmartAdmin/dist/css/app.bundle.css">
<link id="mytheme" rel="stylesheet" media="screen, print" href="">
<link id="myskin" rel="stylesheet" media="screen, print" href="~/SmartAdmin/dist/css/skins/skin-master.css">
<!-- Place favicon.ico in the root directory -->
<link rel="apple-touch-icon" sizes="180x180" href="~/SmartAdmin/dist/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="~/app/images/gencsporbakanlik.png">
<link rel="mask-icon" href="~/SmartAdmin/dist/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="stylesheet" media="screen, print" href="~/SmartAdmin/dist/css/page-login-alt.css">
<link href="~/SmartAdmin/dist/css/font-awesome-css-all.css" rel="stylesheet" />
<link href="~/SmartAdmin/dist/css/notifications/toastr/toastr.css" rel="stylesheet" />
<link href="~/lib/particle/particles.css" rel="stylesheet" />

@*<link href="~/app/css/SBB.css?v=20220519" rel="stylesheet" />*@
<link href="~/lib/login/util.css?v=20220519" rel="stylesheet" />
<link href="~/lib/login/main.css?v=20220519" rel="stylesheet" />
<style>
    body {
        /*background: url('/app/images/loginBackground.png') !important;*/
        background-position: bottom center !important;
        background-size: cover !important;
    }
</style>