<meta charset="utf-8">
<title>
    Psikososyal Destek Platformu
</title>
<meta name="description" content="Psikososyal Destek Platformu">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
<!-- Call App Mode on ios devices -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<!-- Remove Tap Highlight on Windows Phone IE -->
<meta name="msapplication-tap-highlight" content="no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-language" CONTENT="tr">
<!-- base css : START -->
<link id="vendorsbundle" rel="stylesheet" media="screen, print" href="~/SmartAdmin/dist/css/vendors.bundle.css">
<link id="appbundle" rel="stylesheet" media="screen, print" href="~/SmartAdmin/dist/css/app.bundle.css">
<link id="mytheme" rel="stylesheet" media="screen, print" href="">
<link id="myskin" rel="stylesheet" media="screen, print" href="~/SmartAdmin/dist/css/skins/skin-master.css">
<link rel="apple-touch-icon" sizes="180x180" href="~/app/images/onyore.png">
<link rel="icon" type="image/png" sizes="32x32" href="~/app/images/onyore.png">
<link rel="mask-icon" href="~/SmartAdmin/dist/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="stylesheet" href="~/SmartAdmin/dist/css/page-invoice.css" />
<!-- base css : END -->

<link href="~/SmartAdmin/dist/css/datagrid/datatables/datatables.bundle.css" rel="stylesheet" media="screen, print">
<link href="~/SmartAdmin/dist/css/notifications/toastr/toastr.css" rel="stylesheet" />
<link href="~/lib/sweetalerts/sweetalert.css" rel="stylesheet" />
<link href="~/SmartAdmin/dist/css/font-awesome-css-all.css" rel="stylesheet" />
<link href="~/SmartAdmin/dist/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.css" rel="stylesheet" media="screen, print">
<link href="~/SmartAdmin/dist/css/formplugins/bootstrap-daterangepicker/bootstrap-daterangepicker.css" rel="stylesheet" media="screen, print">
<link href="~/SmartAdmin/dist/css/formplugins/select2/select2.bundle.css" rel="stylesheet" media="screen, print" />
<link href="~/SmartAdmin/dist/lib/iconpicker/css/bootstrap-iconpicker.css" rel="stylesheet" />
<link href="~/SmartAdmin/dist/css/style.min.css" rel="stylesheet" />
<link href="~/lib/jstree/dist/themes/default/style.min.css" rel="stylesheet" media="screen, print">
<link href="~/lib/flat-picker/dark.min.css" rel="stylesheet" />
<link href="~/SmartAdmin/dist/css/formplugins/dropzone/dropzone.css" rel="stylesheet" media="screen, print">
<link href="~/SmartAdmin/dist/css/formplugins/summernote/summernote.css" rel="stylesheet" media="screen, print">
<link href="~/SmartAdmin/dist/css/statistics/dygraph/dygraph.css" rel="stylesheet" media="screen, print">
<link href="~/SmartAdmin/dist/css/statistics/chartjs/chartjs.css" rel="stylesheet" media="screen, print">
<link href="~/lib/jquery-steps-master/demo/css/jquery.steps.css" rel="stylesheet" />
<link href="~/lib/clock/bootstrap-clockpicker.min.css" rel="stylesheet" />
<link href="~/lib/combotree/style.css" rel="stylesheet" />
<link href="~/lib/buttonloader/buttonLoader.css" rel="stylesheet" />
<link href="~/lib/color/btn-color.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/AdrianVillamayor/Wizard-JS@1.9.3/styles/css/main.css">
<link href="https://cdn.jsdelivr.net/npm/smartwizard@6/dist/css/smart_wizard_all.min.css" rel="stylesheet" type="text/css" />
<link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Raleway|Rock+Salt|Source+Code+Pro:300,400,600" rel="stylesheet">
<link href="~/app/css/client.css?v=@DateTime.Now.ToBinary() " rel="stylesheet" />
<link href="~/app/css/itx.css?v=@DateTime.Now.ToBinary() " rel="stylesheet" />
<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
