@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextaccessor

<style>
    .nav-link-text {
        color: #000;
    }
</style>
<aside class="page-sidebar">
    <div class="page-logo" style="background-image: none !important; background:#f1f1f1;">
        <a href="@Url.Action("Dashboard", "Home")" class="page-logo-link press-scale-down d-flex justify-content-center align-items-center" style="flex:auto;" data-target="#modal-shortcut">
            <img src="~/app/images/gencsporbakanlik.png" style="width: 60px !important; height:60px !important;" alt="Psikososyal Destek Platformu" aria-roledescription="logo" />
        </a>
        @* <div class="col-10">
        <span class="page-logo-text mr-1 text-center" style="font-size: 12pt; font-weight: 500;font-family:Rockwell">Psikososyal Destek Platformu</span>
        </div>
        </a>*@
    </div>
    @*<div class="page-logo">
    <a href="@Url.Action("Dashboard", "Home")" class="page-logo-link press-scale-down d-flex align-items-center position-relative" data-target="#modal-shortcut">
    <img src="~/app/images/ITIcon.png" aria-roledescription="logo" />
    <span class="page-logo-text mr-1" style="font-size: 16pt; font-weight: 700;">SBB İnsan Kaynakları Yönetimi</span>
    <span class="position-absolute text-white opacity-50 small pos-top pos-right mr-2 mt-n2"></span>

    </a>
    </div>*@
    <!-- BEGIN PRIMARY NAVIGATION -->
    <nav id="js-primary-nav" class="primary-nav" role="navigation">
        <div class="nav-filter">
            <div class="position-relative">
                <input type="text" id="nav_filter_input" class="form-control" placeholder="Ara..." tabindex="0">
                <a class="btn-primary btn-search-close js-waves-off" data-action="toggle" data-class="list-filter-active" data-target=".page-sidebar" href="#" onclick="return false;">
                    <i class="fal fa-chevron-up"></i>
                </a>
            </div>
        </div>

        <div class="info-card">
            <img src="~/app/images/profil.jpg" class="profile-image rounded-circle" id="pp" />
            <div class="info-card-text">
                <a href="@Url.Action("AccountSettings", "Account")" class="d-flex align-items-center text-white">
                    <span class="text-truncate text-truncate-sm d-inline-block userInfoName"></span>
                </a>
                <span class="d-inline-block text-truncate text-truncate-sm userInfoRole" style="max-width:none;font-size:10px"></span>
                <br />
                <span class="d-inline-block text-truncate text-truncate-sm userInfoInstitute"></span>
            </div>
            <img src="~/SmartAdmin/dist/img/card-backgrounds/cover-6-lg.png" class="cover" alt="cover">
            <a href="#" onclick="return false;" class="pull-trigger-btn" data-action="toggle" data-class="list-filter-active" data-target=".page-sidebar" data-focus="nav_filter_input">
                <i class="fal fa-angle-down"></i>
            </a>
        </div>

        <ul class="nav-menu" id="js-nav-menu2">
        </ul>

        <div class="filter-message js-filter-message bg-success-600"></div>
    </nav>
    <!-- END PRIMARY NAVIGATION -->
    <!-- NAV FOOTER -->
    <div class="nav-footer shadow-top d-none">
        <a href="#" onclick="return false;" data-action="toggle" data-class="nav-function-minify" class="hidden-md-down">
            <i class="ni ni-chevron-right"></i>
            <i class="ni ni-chevron-right"></i>
        </a>
        <ul class="list-table m-auto nav-footer-buttons">
            <li>
                <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Make a call">
                    <i class="fal fa-phone text-white"></i>
                </a>
            </li>
        </ul>
    </div>
    <!-- END NAV FOOTER -->
</aside>
